# Analyzing Personality MySelf üåä

Using the **Persona-Predict** üß† service to create an analysis based on the author's text ‚úçÔ∏è and analyze the üó£ personality traits generated. For more information about the service visit: [docs.neuroquest.ai/persona-predict](https://docs.neuroquest.ai/persona-predict/)

If the graphics are not rendered üö´, use the address:

  - [View in NBViewer](https://nbviewer.org/github/NeuroQuestAi/neuroquest-examples/blob/main/products/persona-predict/notebooks/Persona-Predict-MySelf.ipynb?flush_cache=true)

In [1]:
import os

import pandas as pd
from faker import Faker
from IPython.display import JSON, HTML, display

import utility as U

In [2]:
NQ_USER = os.getenv("NQ_USER")
NQ_PASSWORD = os.getenv("NQ_PASSWORD")

## Create the Personality Analysis üìä

- Sends the text to the **Persona-Predict** Service, if the analysis already exists it is read from the file.

In [3]:
if not os.path.exists("predict-result.json"):
    print("Sending the text for analysis...")
    analysis = U.predict_create(
        token=U.login(user=NQ_USER, password=NQ_PASSWORD).get("data").get("token"),
        data={
            "name": Faker().name(),
            "essay": U.get_my_txt_essay(lang="en"),
        },
        save_result=True,
    )
else:
    print("Reading the saved analysis...")
    analysis = U.get_predict_result_in_file()

Reading the saved analysis...

In [4]:
JSON(analysis, expanded=True)

## 1. Big-Five Scores üé≠

In [5]:
score_big_five = list(
    map(
        U.get_big_five,
        analysis.get("data").get("person").get("analysis").get("personalities"),
    )
)
pd.DataFrame(score_big_five)

          O          C          E          A          N
0  76.08049  69.872597  80.119362  49.502068  33.840862

In [6]:
display(HTML(U.plot_big_five_bar(score_big_five=score_big_five)))

In [7]:
display(HTML(U.plot_big_five_radar(score_big_five=score_big_five)))

## 2. Big-Five Openness & Facets üßë‚Äçüé®

In [8]:
score_openness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("openness")
    .get("traits")
)
pd.DataFrame(score_openness_facets, columns=["name", "result"])

                 name     result
0         Imagination  81.543594
1  Artistic Interests  75.517929
2        Emotionality  79.596596
3     Adventurousness  70.877586
4           Intellect  79.467941
5          Liberalism  52.333630

In [9]:
display(
    HTML(
        U.plot_big_five_openness_facets_bar(score_openness_facets=score_openness_facets)
    )
)

## 2. Big-Five Conscientiousness & Facets üßë‚Äçüî¨

In [10]:
score_conscientiousness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("conscientiousness")
    .get("traits")
)
pd.DataFrame(score_conscientiousness_facets, columns=["name", "result"])

                   name     result
0         Self-Efficacy  83.098671
1           Orderliness  67.491455
2           Dutifulness  71.187355
3  Achievement-Striving  84.508453
4       Self-Discipline  75.868919
5          Cautiousness  53.283100

In [11]:
display(
    HTML(
        U.plot_big_five_conscientiousness_facets_bar(
            score_conscientiousness_facets=score_conscientiousness_facets
        )
    )
)

## 3. Big-Five Extraversion & Facets üï∫üíÉ

In [12]:
score_extraversion_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("extraversion")
    .get("traits")
)
pd.DataFrame(score_extraversion_facets, columns=["name", "result"])

                 name     result
0        Friendliness  72.783607
1      Gregariousness  76.627968
2       Assertiveness  79.923744
3      Activity Level  81.474838
4  Excitement Seeking  79.327881
5        Cheerfulness  82.646393

In [13]:
display(
    HTML(
        U.plot_big_five_extraversion_facets_bar(
            score_extraversion_facets=score_extraversion_facets
        )
    )
)

## 4. Big-Five Agreeableness & Facets üôãüß°

In [14]:
score_agreeableness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("agreeableness")
    .get("traits")
)
pd.DataFrame(score_agreeableness_facets, columns=["name", "result"])

          name     result
0        Trust  65.005280
1     Morality  41.928101
2     Altruism  72.948906
3  Cooperation  37.990849
4      Modesty  24.193735
5     Sympathy  50.528477

In [15]:
display(
    HTML(
        U.plot_big_five_agreeableness_facets_bar(
            score_agreeableness_facets=score_agreeableness_facets
        )
    )
)

## 5. Big-Five Neuroticism & Facets üôÖüí¢

In [16]:
score_neuroticism_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("neuroticism")
    .get("traits")
)
pd.DataFrame(score_neuroticism_facets, columns=["name", "result"])

                 name     result
0             Anxiety  35.206196
1               Anger  36.776844
2          Depression  32.830704
3  Self-Consciousness  25.847530
4        Immoderation  42.356152
5       Vulnerability  29.392145

In [17]:
display(
    HTML(
        U.plot_big_five_neuroticism_facets_bar(
            score_neuroticism_facets=score_neuroticism_facets
        )
    )
)

## 6. ORVIS - The Oregon Vocational Interest üíºüîç

In [18]:
score_orvis_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("orvis")

)
pd.DataFrame(score_orvis_facets, columns=["name", "result"])

           name     result
0    Leadership  79.625813
1  Organization  69.339405
2      Altruism  57.766878
3    Creativity  77.492935
4      Analysis  79.467941
5     Adventure  70.877586
6    Production  62.235228
7     Erudition  79.467941

In [19]:
display(
    HTML(
        U.plot_orvis_facets_bar(
            score_orvis_facets=score_orvis_facets
        )
    )
)