# Analyzing Personality Domain Evaluation üåä

Using the  **Persona-Predict V2** üß† service to assess the nuanced understanding of **Brazilian Portuguese** üáßüá∑ in each of the **Big Five** personality domains. For more information about the service visit: [docs.neuroquest.ai/persona-predict](https://docs.neuroquest.ai/persona-predict/)

If the graphics are not rendered üö´, use the address:

  - [View in NBViewer](https://nbviewer.org/github/NeuroQuestAi/neuroquest-examples/blob/main/products/persona-predict/notebooks/Persona-Predict-MySelf.ipynb?flush_cache=true)

In [ ]:
import os

import pandas as pd
import utility as U

In [3]:
NQ_USER = os.getenv("NQ_USER")
NQ_PASSWORD = os.getenv("NQ_PASSWORD")

In [11]:
assert NQ_USER is not None, "set the user"
assert NQ_PASSWORD is not None, "set the password"

In [5]:
def create_analysis(name: str, essay: str, domain: str) -> dict:
    return U.api_predict_create(
        token=U.api_login(user=NQ_USER, password=NQ_PASSWORD).get("data").get("token"),
        data={
            "name": name,
            "essay": essay,
            "domain": domain,
            "task": False,
        },
        save_result=False,
    )

## 1. Big-Five Openness Domains üßë‚Äçüé® 

- Evaluate the capture of nuances of Openness to Experience texts.

In [39]:
essay_pt_br_O_high = """
A vida √© um vasto campo de possibilidades, onde cada novo dia √© uma tela em branco, pronta para ser preenchida com cores, 
formas e ideias √∫nicas. Adoro explorar o desconhecido, mergulhando em livros que me transportam para mundos distantes, 
experimentando sabores ex√≥ticos e permitindo que minha mente vagueie por conceitos abstratos e filos√≥ficos. A curiosidade 
√© minha guia, sempre me levando a questionar o status quo e a buscar novas perspectivas. Acredito que a verdadeira beleza 
reside na diversidade das experi√™ncias e na liberdade de reinventar a pr√≥pria exist√™ncia a cada instante.
"""

In [40]:
analysis = create_analysis(name="Openness", essay=essay_pt_br_O_high, domain="O")

In [ ]:
score_openness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("openness")
    .get("traits")
)
pd.DataFrame(score_openness_facets, columns=["name", "result", "confidence", "score"])

                    name     result  confidence score
0             Imagina√ß√£o  77.050635   98.596553  high
1  Interesses Art√≠sticos  76.048063   98.533283  high
2            Emotividade  80.546738   98.658241  high
3     Desejo de Aventura  78.469893   98.504548  high
4       Intelectualidade  81.821155   98.594099  high
5            Liberalismo  74.818833   98.647199  high

In [25]:
essay_pt_br_O_low = """
Prefiro manter as coisas do jeito que s√£o, sem muitas mudan√ßas ou surpresas. A rotina traz seguran√ßa e me permite 
focar no que realmente importa. valorizo a tradi√ß√£o e as pr√°ticas que j√° foram testadas e comprovadas ao longo do tempo. 
N√£o vejo necessidade de explorar coisas novas ou arriscar, quando j√° sei o que funciona bem para mim. Gosto de seguir 
um plano e evitar distra√ß√µes, focando no que √© pr√°tico e eficiente. a vida √© melhor quando √© simples e previs√≠vel.
"""

In [42]:
analysis = create_analysis(name="Openness", essay=essay_pt_br_O_low, domain="O")

In [43]:
score_openness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("openness")
    .get("traits")
)
pd.DataFrame(score_openness_facets, columns=["name", "result", "confidence", "score"])

                    name     result  confidence score
0             Imagina√ß√£o  29.805517   96.419379   low
1  Interesses Art√≠sticos  30.346455   96.619580   low
2            Emotividade  31.474132   96.728855   low
3     Desejo de Aventura  21.840580   95.106231   low
4       Intelectualidade  28.266841   96.181217   low
5            Liberalismo  25.946979   95.549525   low

In [11]:
essay_pt_br_O_avg = """
Gosto de experimentar coisas novas, mas tamb√©m valorizo a estabilidade. Embora eu  aprecie uma boa conversa 
sobre novas ideias ou aprender algo diferente de vez em quando. Eu me interesso por mudan√ßas, mas prefiro 
que elas venham de forma planejada. Posso ser criativo, mas tamb√©m encontro conforto em seguir m√©todos j√° testados. 
Para mim, o equil√≠brio entre o novo e o tradicional √© o que me permite aproveitar o melhor dos dois mundos.
"""

In [12]:
analysis = create_analysis(name="Openness", essay=essay_pt_br_O_avg, domain="O")

In [13]:
score_openness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("openness")
    .get("traits")
)
pd.DataFrame(score_openness_facets, columns=["name", "result", "confidence", "score"])

                    name     result  confidence    score
0             Imagina√ß√£o  43.939766   97.579267      low
1  Interesses Art√≠sticos  42.329574   97.467702      low
2            Emotividade  46.850075   97.717297  average
3     Desejo de Aventura  41.276236   97.207698      low
4       Intelectualidade  47.711903   97.583519  average
5            Liberalismo  34.678874   97.183242      low

## 2. Big-Five Conscientiousness Domains üßë‚Äçüî¨

- Evaluate the capture of nuances of Conscientiousness texts.

In [16]:
essay_pt_br_C_high = """
Sou uma pessoa que leva a s√©rio minhas responsabilidades. Gosto de manter tudo organizado, desde meu espa√ßo de trabalho 
at√© minhas tarefas di√°rias. planejo com anteced√™ncia e me esfor√ßo para cumprir todas as metas que estabele√ßo para mim. 
Acredito que a disciplina √© a chave para o sucesso, por isso procuro sempre manter o foco e evitar distra√ß√µes. Quando me 
comprometo com algo, dou o meu melhor para entregar um trabalho bem feito e dentro do prazo. Para mim, ser confi√°vel e 
cumprir o que prometo √© fundamental.
"""

In [17]:
analysis = create_analysis(name="Conscientiousness", essay=essay_pt_br_C_high, domain="C")

In [ ]:
score_conscientiousness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("conscientiousness")
    .get("traits")
)
pd.DataFrame(score_conscientiousness_facets, columns=["name", "result", "confidence", "score"])

               name     result  confidence score
0     Auto-Efic√°cia  71.251364   98.516057  high
1       Organiza√ß√£o  68.919790   98.511230  high
2  Responsabilidade  69.412613   98.453051  high
3      Determina√ß√£o  68.221754   98.395386  high
4   Auto-Disciplina  69.140156   98.451434  high
5           Cautela  69.590187   98.459612  high

In [19]:
essay_pt_br_C_low = """
Costumo ser mais espont√¢neo e n√£o me prendo muito a rotinas ou planejamentos. Prefiro viver o momento, e a ideia de seguir 
uma agenda r√≠gida n√£o me atrai. √Ås vezes, acabo deixando tarefas para depois e, confesso, nem sempre sou t√£o organizado 
quanto gostaria. N√£o me preocupo tanto com prazos ou com manter tudo em ordem, pois acredito que as coisas se resolvem 
eventualmente. Prefiro a liberdade de seguir o fluxo do que me prender a regras ou expectativas r√≠gidas.
"""

In [20]:
analysis = create_analysis(name="Conscientiousness", essay=essay_pt_br_C_low, domain="C")

In [22]:
score_conscientiousness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("conscientiousness")
    .get("traits")
)
pd.DataFrame(score_conscientiousness_facets, columns=["name", "result", "confidence", "score"])

               name     result  confidence score
0     Auto-Efic√°cia  41.302309   96.798863   low
1       Organiza√ß√£o  31.857679   92.567167   low
2  Responsabilidade  31.230559   82.291517   low
3      Determina√ß√£o  41.605433   96.928100   low
4   Auto-Disciplina  39.840897   96.586744   low
5           Cautela  39.773403   96.828384   low

In [27]:
essay_pt_br_C_avg = """
Eu me considero uma pessoa organizada, mas sem exageros. Gosto de planejar as coisas, mas tamb√©m sei ser 
flex√≠vel quando necess√°rio. Cumpro com minhas responsabilidades e me esfor√ßo para fazer um bom trabalho, 
mas n√£o sinto a necessidade de controlar todos os detalhes o tempo todo. Prefiro manter um equil√≠brio; 
gosto de estar preparado e manter um certo n√≠vel de disciplina, mas tamb√©m sei que, √†s vezes, √© preciso 
adaptar-se e improvisar.
"""

In [28]:
analysis = create_analysis(name="Conscientiousness", essay=essay_pt_br_C_avg, domain="C")

In [29]:
score_conscientiousness_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("conscientiousness")
    .get("traits")
)
pd.DataFrame(score_conscientiousness_facets, columns=["name", "result", "confidence", "score"])

               name     result  confidence    score
0     Auto-Efic√°cia  51.954260   97.823179  average
1       Organiza√ß√£o  46.427163   97.616327  average
2  Responsabilidade  46.636228   97.343321  average
3      Determina√ß√£o  52.108069   97.774092  average
4   Auto-Disciplina  51.495050   97.778266  average
5           Cautela  51.000939   97.819353  average

## 3. Big-Five Extraversion Domains üï∫üíÉ

- Evaluate the capture of nuances of Extraversion texts.

In [37]:
essay_pt_br_E_high = """
Cara, eu curto demais estar com a galera! A vibe de estar com a turma me d√° um g√°s, sabe? Seja numa festa, 
num rol√™ ou at√© trocando ideia no dia a dia, t√¥ sempre na pilha de trocar uma ideia e conhecer gente nova. 
Quanto mais gente, mais divertido! Gosto de puxar papo, soltar umas piadas e fazer a galera dar risada. 
Ficar sozinho? N√£o √© muito a minha praia, prefiro mil vezes estar no meio da bagun√ßa, vivendo o agito. 
Pra mim, qualquer dia fica melhor quando tem gente por perto, seja no trampo ou s√≥ curtindo mesmo!
"""

In [38]:
analysis = create_analysis(name="Extraversion", essay=essay_pt_br_E_high, domain="E")

In [39]:
score_extraversion_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("extraversion")
    .get("traits")
)
pd.DataFrame(score_extraversion_facets, columns=["name", "result", "confidence", "score"])

                 name     result  confidence score
0            Simpatia  67.050578   98.495745  high
1       Sociabilidade  69.274844   98.550597  high
2       Assertividade  65.029700   98.448864  high
3  N√≠vel de Atividade  62.216142   98.363288  high
4  Busca de Excita√ß√£o  67.633268   98.508400  high
5           Bom Humor  64.194158   98.417816  high

In [43]:
essay_pt_br_E_low = """
Eu prefiro passar mais tempo sozinho ou com um c√≠rculo pequeno de amigos pr√≥ximos. Intera√ß√µes sociais grandes 
e eventos movimentados n√£o s√£o exatamente o meu forte. Gosto de ambientes mais calmos e de ter tempo para refletir 
ou me dedicar a atividades pessoais. N√£o me sinto confort√°vel sendo o centro das aten√ß√µes e geralmente evito situa√ß√µes 
que exigem muita socializa√ß√£o. Para mim, a satisfa√ß√£o vem de momentos tranquilos e de conex√µes mais √≠ntimas, onde 
posso realmente me sentir √† vontade.
"""

In [44]:
analysis = create_analysis(name="Extraversion", essay=essay_pt_br_E_low, domain="E")

In [45]:
score_extraversion_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("extraversion")
    .get("traits")
)
pd.DataFrame(score_extraversion_facets, columns=["name", "result", "confidence", "score"])

                 name     result  confidence score
0            Simpatia  27.554757   96.550924   low
1       Sociabilidade  30.368980   96.856893   low
2       Assertividade  28.279669   96.564025   low
3  N√≠vel de Atividade  27.358303   96.535132   low
4  Busca de Excita√ß√£o  28.060341   96.586873   low
5           Bom Humor  30.662694   96.867483   low

In [50]:
essay_pt_br_E_avg = """
Eu valorizo bastante as intera√ß√µes sociais e aprecio a companhia de outras pessoas, mas n√£o sinto a necessidade de 
estar sempre no centro das aten√ß√µes. Gosto de participar de conversas e eventos, mas tamb√©m valorizo meu tempo pessoal 
e momentos de reflex√£o. Embora eu me sinta confort√°vel em ambientes sociais e esteja aberto a novas conex√µes, encontro 
um equil√≠brio saud√°vel entre minha vida social e momentos de tranquilidade. Para mim, √© importante manter uma abordagem 
equilibrada, desfrutando tanto das oportunidades de socializa√ß√£o quanto dos per√≠odos de introspec√ß√£o e descanso.
"""

In [51]:
analysis = create_analysis(name="Extraversion", essay=essay_pt_br_E_avg, domain="E")

In [52]:
score_extraversion_facets = (
    analysis.get("data")
    .get("person")
    .get("analysis")
    .get("personalities")[0]
    .get("extraversion")
    .get("traits")
)
pd.DataFrame(score_extraversion_facets, columns=["name", "result", "confidence", "score"])

                 name     result  confidence    score
0            Simpatia  49.478946   97.922453  average
1       Sociabilidade  52.886815   98.099024  average
2       Assertividade  48.611921   97.756141  average
3  N√≠vel de Atividade  48.615796   97.798715  average
4  Busca de Excita√ß√£o  53.352004   97.977703  average
5           Bom Humor  51.173849   97.962775  average